@import "tailwindcss";

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #155dfc;
    border-radius: 10px;
    border: 3px solid transparent;
}